body {
  background-color: rgba(255, 255, 255, 0.908);
}
table {
  border: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  color: rgba(0, 0, 0, 0.9);
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  width: 100%;
}

tbody {
  border: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  color: rgba(0, 0, 0, 0.9);
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  width: 100%;
}
tr {
  border: 0;
  display: table-row;
}
th {
  content: "";
  margin: 0;
  padding: 0;
  width: 100%;
}

td {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}

.divDataAutos {
  position: relative;
  display: block;
}
.splide__slide img {
  width: 100%;
  height: auto;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divDetail {
  width: 700px;
  position: relative;
  margin-left: 120px;
}
.divDerecha {
  float: right;
  position: absolute;
  left: 782px;
  top: 60px;
  width: 400px;
  height: 400px;
  background-color: transparent;
  /* box-shadow: 0 0 6px black; */
  border: 1px rgb(201, 201, 201) solid;
}

.divAnoKm {
  left: 40px;
  position: relative;
  margin-top: 10px;
}

.divAnoKm p {
  display: inline;
  padding: 4px 4px 4px 4px;
  color: rgb(140, 131, 131);
  font-size: 20px;
}

.divMarcaModelo {
  position: relative;
  margin-top: 40px;
  margin-left: 30px;
}

.divMarcaModelo p {
  display: inline;
  font-size: 24px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  hyphens: auto;
  line-height: 1.18;
  padding-bottom: 8px;
  padding-right: 10px;
  word-break: break-word;
}

.divPrecio {
  margin-left: 90px;
  position: relative;
  margin-top: 30px;
}

.divPrecio p {
  font-size: 35px;
}

.bt-reservar {
  background-color: #e3edfb;
  color: #3482fa;
  text-decoration: none;
  padding: 17px 21px;
  display: inline-block;
  border-radius: 4px;
  margin: 35px;
  box-shadow: 0px 0px 3px 0px black;
}

.bt-reservar:hover {
  background-color: #f3f8ff;
}

.bt-preguntar {
  background-color: #3482fa;
  color: white;
  text-decoration: none;
  padding: 17px 21px;
  display: inline-block;
  border-radius: 4px;
  margin: 45px;
  box-shadow: 0px 0px 3px 0px black;
}

.bt-preguntar:hover {
  background-color: #569aff;
}
tbody {
  width: 100%;
}
.tableData {
  width: 80%;
  margin: auto;
  margin: 20px 20px;
  border-radius: 10px;
  border: 0.1px solid rgb(224, 224, 224);
}
tr {
  width: 100%;
}
td {
  text-align: center;
  width: 50%;
  font-size: 18px;
  padding: 12px;
}
th {
  width: 50%;
  font-size: 18px;
  padding: 12px;
}
.divDescripcion {
  margin-left: 30px;
}
h2 {
  margin-left: 21px;
}
