body {
  background-color: rgba(255, 255, 255, 0.908);
}
table {
  border: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  color: rgba(0, 0, 0, 0.9);
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  width: 100%;
}

tbody {
  border: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  color: rgba(0, 0, 0, 0.9);
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  width: 100%;
}
tr {
  border: 0;
  display: table-row;
}
th {
  content: "";
  margin: 0;
  padding: 0;
  width: 100%;
}

td {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}

.divDataAutos {
  position: relative;
  display: block;
}
.splide__slide img {
  width: 100%;
  height: auto;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divDetail {
  width: 700px;
  position: relative;
  margin-left: 120px;
}
.divDerecha {
  float: right;
  position: absolute;
  left: 782px;
  top: 60px;
  width: 400px;
  height: 400px;
  background-color: transparent;
}

.divAnoKm {
  left: 40px;
  position: relative;
  margin-top: 10px;
}

.divAnoKm p {
  display: inline;
  padding: 4px 4px 4px 4px;
  color: rgb(140, 131, 131);
  font-size: 20px;
}

.divMarcaModelo {
  position: relative;
  margin-top: 40px;
  margin-left: 30px;
}

.divMarcaModelo p {
  display: inline;
  font-size: 24px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  hyphens: auto;
  line-height: 1.18;
  padding-bottom: 8px;
  padding-right: 10px;
  word-break: break-word;
}

.divPrecio {
  margin-left: 90px;
  position: relative;
  margin-top: 30px;
}

.divPrecio p {
  font-size: 35px;
}

.bt-reservar {
  background-color: #e3edfb;
  color: #3482fa;
  text-decoration: none;
  padding: 17px 21px;
  display: inline-block;
  border-radius: 4px;
  margin: 35px;
  box-shadow: 0px 0px 3px 0px black;
}

.bt-reservar:hover {
  background-color: #f3f8ff;
}

.bt-preguntar {
  background-color: #569aff;
  color: white;
  text-decoration: none;
  padding: 17px 36px;
  display: inline-block;
  border-radius: 4px;
  margin: 45px;
  margin-left: 115px;
  box-shadow: 0px 0px 3px 0px black;
}

.bt-preguntar:hover {
  background-color: #3482fa;;
}
tbody {
  width: 100%;
}
.tableData {
  width: 80%;
  margin: auto;
  margin: 20px 20px;
  border-radius: 10px;
  border: 0.1px solid rgb(224, 224, 224);
}
tr {
  width: 100%;
}
td {
  text-align: center;
  width: 50%;
  font-size: 18px;
  padding: 12px;
}
th {
  width: 50%;
  font-size: 18px;
  padding: 12px;
}
.divDescripcion {
  margin-left: 30px;
}
h2 {
  margin-left: 21px;
}
.divOculto{

  position:absolute;
  margin: auto;
  width: 800px;
  height: 600px;
  background: antiquewhite;
  top: 160px;
  left: 300px;
  box-shadow: black;
  box-shadow: 0px 0px 0px 20000px rgb(36 29 86 / 88%);
}

.btCerrar{

  float:right;
  width:20px;
  height:20px;
  margin-right:5px;
  margin-top:5px;

}

.btCerrar img{
  width:20px;
  height:20px;
  background-size: cover;
  cursor:pointer;
  
}
.divNombre{
  display: inline-grid;

}
.divApellido{
  display: inline-grid;

}
.divEmail{
  display: inline-grid;

}
.divTelefono{
  display: inline-grid;

}
.divComentarios{
  display: inline-grid;

}
.form_registro{
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: baseline;
}
.form_registro input{
  width:300px;
  height:40px;
}
.comentarios{
  width: 307px;
  height: 391px;
}
* {
  box-sizing: border-box;
}

.slider {
  width: 600px;
  height:546px;
  text-align: center;
  /* overflow: hidden; */
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 600px;
  height: 500px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
/* .slides > div:target {
  /*   transform: scale(0.8); */
/* } */ 
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 500px;
 
}

#main2Images img{

  object-fit:cover;
}

#mainImages img{

  object-fit:contain;
  min-width: 600px;
  min-height: 500px;
}

.slider > a {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {

  .slider > a {
    
   display: none;
  }
}

input#comprobar {
  background-color: rgb(140, 131, 131);
  border: 2px solid #555555;
}

input#comprobar:hover {

  background-color:  rgb(169 159 159);

}

