.about-box {
  margin-top: 50px;
  float: right;
  margin-right:125px;
}
.about-img {
  width: 540px;
  height: 700px;
  border-radius: 4px;
  border: 1px solid #f6f6f66e;
}

.about-h1 {
  margin: 60px;
  margin-left: 120px;
  padding-top: 48px;
  text-align: left;
  color: #0b0b0c;
  font-size: 36px;
  font-family: serif;
}
.img-box-redonda {
  position: relative;
  background-size: cover;
  margin-left: 120px;
}
.img-redonda {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
}
aside {
  padding-left: 175px;
}
aside p {
  margin: 3px;
  padding: 1px;
}
aside .nombre {
  color: #1f3b93;
  font-size: 16px;
  font-weight: bold;
}
aside .fecha {
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 500;
}
.about {
  margin-left: 12px;
  padding: 15px;
}

.about a img {
  height: 13px;
  width: 13px;
  display: block;
}
.informacion-general {
  display: inline-block;
  text-align: start;
  margin: 50px 250px 0px 250px;
}
.about-h2 {
  margin-top: 60px;
  color: #1b1b83;
  font-size: 34px;
  margin-left: 29px;
}
.informacion-general .about-p p {
  text-align: center;
  color: #b9b7b7;
  margin: 4px;
}
.about-p {
  color: #353535;
  font-weight: 600;
  font-size: 15px;
  margin-left: 29px;
  width: 40%;
  margin-left: 32px;
  margin-left:120px;
}
@media (max-width:1024px){

  .about-box {
    margin-top: 50px;
    float: right;
    margin-right: 0px;
  }
  .about-h1 {
    margin: 0px;
    margin-top:50px;
    margin-left: 120px;
    margin-bottom:50px;
    padding-top: 39px;
    text-align: left;
    color: #0b0b0c;
    font-size: 24px;
    font-family: serif;
  }
  .about-img {
    width: 500px;
    height: 630px;
    border-radius: 4px;
    border: 1px solid #f6f6f66e;
  }
  aside {
    padding-left: 10px;
 }

}


@media (max-width:768px){

  .about-img {
    width: 400px;
    height: 500px;
    border-radius: 4px;
    border: 1px solid #f6f6f66e;
  }
  .about-h1 {
    margin: 0px;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 50px;
    padding-top: 39px;
    text-align: left;
    color: #0b0b0c;
    font-size: 20px;
    font-family: serif;
  }
  .img-box-redonda {
    position: relative;
    background-size: cover;
    margin-left: 27px;
    
  }
  .img-redonda {
    margin-right:9px;
  }
  aside .nombre {
    color: #1f3b93;
    font-size: 13px;
    font-weight: bold;
  }
  aside .fecha {
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 500;
  }
  .about-p {
    color: #353535;
    font-weight: 600;
    font-size: 15px;
    margin-left: 29px;
    width: 40%;
    margin-left: 32px;
  }
  .info-aside {
    margin-bottom: -154px;
  }
}
@media (max-width:480px){

  .about-img {
    width: 250px;
    height: 389px;
    border-radius: 4px;
    border: 1px solid #f6f6f66e;
  }
  .about-h1{
    font-size: 16px;
  }
  .img-redonda {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  aside .nombre {
    color: #1f3b93;
    font-size: 9px;
  }
  aside .fecha {
    color: #4a4a4a;
    font-size: 8px;
  }
  aside p {
    margin: -1px;
    padding: 1px;
  }
  .about-p {
    color: #353535;
    font-weight: 600;
    font-size: 9px;
    margin-left: 29px;
    width: 40%;
    margin-left: 24px;
  }
 .informacion-general {
  display: inline-block;
  text-align: start;
  margin: 0px 229px 0px 250px;
  }
  .logo {
    height: 19px;
    width: auto;
    display: inline-block;
    margin-bottom: 14px;
  }
}
@media (max-width:450px){

  .about-img {
    width: 216px;
    height: 336px;
    border-radius: 4px;
    border: 1px solid #f6f6f66e;
  }
  .about-h1 {
    font-size: 12px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 17px;
  }
  .img-redonda {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left:0px;
  }
  .img-redonda {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  aside .nombre {
    color: #1f3b93;
    font-size: 7px;
  }
  aside .fecha {
    color: #4a4a4a;
    font-size: 6px;
  }
  .about-p {
    color: #353535;
    font-weight: 600;
    font-size: 9px;
    width: 40%;
    margin-left: 0px;
  }

  aside p {
    margin: -2px;
    padding: 2px;
  }
  .about-box {
    margin-top: 37px;
    float: right;
    margin-right: 0px;
  }
  .img-box-redonda {
    position: relative;
    background-size: cover;
    margin-left: 0px;
  }



}

@media (max-width:320px){

  .about-img {
    width: 194px;
    height: 314px;
    border-radius: 4px;
    border: 1px solid #f6f6f66e;
  }
  .about-h1 {
      margin: 0px;
      margin-top: 11px;
      margin-left: 5px;
      margin-bottom: 9px;
      padding-top: 39px;
      text-align: left;
      color: #0b0b0c;
      font-size: 12px;
      font-family: serif;
  }
  .img-redonda {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .img-box-redonda {
    position: relative;
    background-size: cover;
    margin-left: 4px;
  }
  aside .nombre {
    color: #1f3b93;
    font-size: 7px;
  }
  aside .fecha {
    color: #4a4a4a;
    font-size: 6px;
  }
  .about-p {
    color: #353535;
    font-weight: 600;
    font-size: 7px;
    margin-left: 29px;
    width: 40%;
    margin-left: 5px;
  }
  aside p {
    margin: -2px;
    padding: 2px;
  }
  
}